<ion-content>
  
  <app-nav></app-nav>
  <p>
    componente works!sdfsdf
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, necessitatibus quod tenetur eveniet facere debitis harum qui voluptatibus quam, nesciunt repellendus ad eius excepturi sit! Nobis sint debitis suscipit officia?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dicta harum dolores enim similique sapiente nihil incidunt dolor ut, ipsa, excepturi rerum ducimus! Beatae nihil illo dolore illum corporis magnam?
  </p>
  
  <app-footer></app-footer>
</ion-content>