  <div class="producto">
  <div>
    <h3>ITEM DETALLES</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita aut, numquam nulla quaerat possimus quod culpa voluptatibus, officiis aliquam natus voluptatum consequuntur. Earum suscipit dolore ex est, tempore soluta ipsam!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor iste nulla dicta voluptate at ut quae rerum minus tenetur ipsum aut maiores accusantium ratione voluptatum
    </p>
  </div>
  <div>
  <button type="button" class="btn btn-outline-primary producto-butoom" [routerLink]="['/store/home']" routerLinkActive="router-link-active" > Volver perra</button>
  </div>
</div>