<div class="d-flex justify-content-center flex-wrap shadow-lg navegacion m-1" >
  <div class="px-2 py-1">
    <a class="nav-link active" href="/"><i class="fa-solid fa-suitcase"></i> Paquetes</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" href="/vistas/vuelos"><i class="fa-solid fa-plane"></i> Vuelos</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" href="/vistas/alojamientos"><i class="fa-solid fa-bed"></i> Alojamiento</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" href="/vistas/ofertas"><i class="fa-solid fa-fire"></i> Ofertas</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" href="/vistas/autos"><i class="fa-solid fa-car-side"></i> Autos</a>
  </div>
</div>
