<div class="d-flex justify-content-center flex-wrap shadow-lg navegacion" >
  <div class="px-2 py-1">
    <a class="nav-link active" [routerLink]="['/store/list']"><i class="fa-solid fa-suitcase"></i> Paquetes</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" [routerLink]="['/store/vuelos']"><i class="fa-solid fa-plane"></i> Vuelos</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" [routerLink]="['/store/alojamiento']"><i class="fa-solid fa-bed"></i> Alojamiento</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" [routerLink]="['/store/ofertas']"><i class="fa-solid fa-fire"></i> Ofertas</a>
  </div>
  <div class="px-2 py-1">
    <a class="nav-link" [routerLink]="['/store/autos']"><i class="fa-solid fa-car-side"></i> Autos</a>
  </div>
</div>
