// .boton-detalle{
//     background: #f58a31;
//     color: #fff;
//     font-size:10px;
//     width: 65px;
//     min-height: 4px;
//     position: absolute;
//     bottom:2%;
//     right:2%;
//       border: none;
//   transition: background 0.2s;
//   box-shadow: 0 7px 8px rgba(0,0,0,0.15); /* Sombra suave */
    
// }
// .boton-detalle:hover,
// .boton-detalle:focus,
// .boton-detalle:active {
//   background: #cf6600 !important; /* Un tono más oscuro del naranja */
//   color: #fff !important;
// }

.nombre-producto {
    font-size:15px;
    width: 155px;
    // min-height: 4px;
    position: absolute;
    top:45%;
    left:4%;
}