.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div h2{
    margin: 10px;
    text-aling: center;
    font-style:italic;

}

.botton-backd{
    margin: 10px;
    padding:10px;
    border-radius: 5px;
    background-color: #f58a31;
}